body
{
    background-color: #CCFFFF;
}


.Micss
{
    background-color: #CCFFCC;
    font-family: Tahoma;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 8px;
}
